.section-share{
    background-color: white;
    height: 600px;
    position: relative;
    top: -77px;
    left: 0;
    .title{
        text-align: center;
        margin-bottom: -20px;
        padding-top: 50px;
        h2{
            font-size: 36px;
            text-transform: none;
            letter-spacing: 0px;
            font-weight: bold;
            margin-top: -20px;
        }
        h5{
            margin-top: -1px;
            font-size: 15px;
            color: #8D9199;
        }
    }
        
}