.PopularDestination{
    width: 100%;
    
    .content{
        justify-content: center;
        text-align: center;
        padding:80px;
        .row{
            img{
                width: 315px;
                height: 320px;
                cursor: pointer;
                border-radius: 13px;
                opacity: 0.85;
                transition: width 0.1s, height 0.1s;
            }
            p{
                position: absolute;
                top: 262px;
                left: 40px;
                color: #ffffff;
                font-weight: 800;
                letter-spacing: 0px;
                font-size: 24px;
                transition: width 0.1s, height 0.1s;

            }
            img:hover{
                width: 325px;
                height: 330px;
                p{
                    
                    font-size: 26px;
                }
            }
        }
    }
    @media (max-width: 800px) {
        .content {
            padding: 40px; 
            .row {
                img {
                    width: 100%; 
                    height: auto; 
                    border-radius: 10px;
                }

                p {
                    top: auto; 
                    left: 20px; 
                    font-size: 18px; 
                    bottom: 10px; 
                }

                img:hover {
                    width: 80%; 
                    height: auto;
                    p {
                        top: auto; 
                        left: auto; 
                        font-size: 20px; 
                        bottom: 10px; 
                    }
                }
            }
        }
    }
}