.Search{
    position: absolute;
    top: 255px;
    text-align: center;
    width: 100%;
    z-index: 2;
    
    .title{
        color: #ffffff;
        text-transform: none;
        letter-spacing: 0px;
        h2{
            font-size: 36px;
            font-weight: bold;
        }
        h5{
            font-size: 15px;
        }
    }
    .content{
        margin-top: 30px;
        
        .row{
            width: 90%;
            padding-left: 180px;
            .formInput{
                padding-bottom: 20px;
                position: relative;
                i{
                    position: absolute;
                    top: 6px;
                    right: 19px;
                    font-size: 25px;
                    color: #838080;
                    background-color: white;
                }
                button{
                    padding-left: 104px;
                    padding-right: 104px;
                }
               
            }
            
        }
        .AdvancedSearch{
            color: white;
            cursor: pointer;
            display: inline-block;
            text-align: left;
            margin-left: -165px;
        }
    }
    
}
@media(max-width: 800px) {
    .Search{
        top: 40px;
        text-align: center;
        width: 100%;
        
        .title{
            color: #ffffff;
            h2{
                font-size: 15px;
                font-weight: bold;
            }
            h5{
                font-size: 7px;
            }
        }
        .content{
            .row{
                width: 80%;
                padding-left: 50px;

                .formInput{
                    width: 20%;
                    i{
                        position: absolute;
                        top: 10px;
                        left: 125px;
                        font-size: 10px;
                    }
                    input, select{
                        margin-left: 20px;
                        font-size: 10px;
                    }
                    button{
                        margin-left: 20px;
                        font-size: 10px;
                        padding: 4px;
                    }
                    
                }
                
            }
            .AdvancedSearch{
                cursor: pointer;
                margin-right: -140px;
                font-size: 10px;
            }
        }
        
    }
}